@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    max-width: 120rem;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    box-sizing: border-box;
    border-radius: 0.4rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .2);
}

.logo {
    height: 5rem;
    padding: 0 2rem;
    text-align: center;
    box-sizing: border-box;
    float: left;
}

.logo img {
    width: 60%;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 1rem 0;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #262626;
    font-size: 1.4rem;
}

nav ul li a:hover {
    background: black;
    color: #fff;
    transition: 0.5s;
}

/* Below 1200px */
@media only screen and (max-width: 75em) {
    header {
        margin: 2rem;
    }
}

/* Below 816px  */
@media only screen and (max-width: 51em) {
    .menu-toggle {
        display: block;
        width: 4rem;
        height: 4rem;
        margin: 1rem;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 3rem;
        color: black;
    }

    .menu-toggle::before {
        content: "\f0c9";
        font-family: fontAwesome;
        line-height: 4rem;
    }

    .menu-toggle.active::before {
        content: "\f00d";
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }
}